body {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	background: #fff no-repeat center center fixed;
	background-size: cover;

	font-family: sans-serif;
}

header, footer {
	position: absolute;
	width: 100%;

	background: rgba(51, 51, 51, 0.3);
	color: #eee;

	text-align: center;
}

footer {
	bottom: 0;
}

p {
	margin: 1em;
}

a {
	color: #eee;

	text-decoration: none;
}

a:active, a:hover, a:focus {
	text-decoration: underline;
}